* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    height: 60px;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    padding-right: 30px;
}

.main-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.main-links a {
    font-size: 16px;
    padding: 5px 0;
    transition: color 0.3s;
}

.main-links a:hover {
    color: #ccc;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}


.nav-icon {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
    transition: color 0.3s;
}

.nav-icon:hover {
    color: #ccc;
}

.content {
    padding: 17px;
    margin-bottom: 5px;
}

.content p {
    font-size: 18px;
    color: #5f5f5f;
}

.content h2 {
    font-size: 25px;
    color: #363636;
}

@media (max-width: 900px) {
    .navbar {
        padding: 10px 15px;
        height: auto;
    }
    
    .logo {
        font-size: 22px;
        padding-right: 0;
    }

    .main-links {
        gap: 15px;
        justify-content: flex-start;
        flex-grow: 0;
    }
    
    .main-links a {
        font-size: 14px;
    }
    
    .navbar-left {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px 15px;
    }

    .navbar-left {
        width: 100%;
        margin-bottom: 10px;
    }

    .main-links {
        width: 100%;
        justify-content: space-around;
        margin-top: 5px;
    }

    .main-links a {
        font-size: 12px;
    }

    .navbar-right {
        width: 100%;
        justify-content: flex-end;
        gap: 10px;
        font-size: 12px;
        padding-top: 5px;
        border-top: 1px solid #333;
    }
}