body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #222;
    color: white;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: #00bfff;
}

.cart {
    font-size: 24px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: url("https://via.placeholder.com/1500x500") no-repeat center/cover;
    height: 400px;
    color: rgb(169, 164, 164);
    text-align: center;
    padding-top: 120px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 20px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.hero button:hover {
    background: #0056b3;
}

/* Product Section */
.products {
    text-align: center;
    padding: 40px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.product-card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.product-card button:hover {
    background: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #ddd;
    margin-top: 30px;
}