body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}

.traffic-light {
  width: 80px;
  background: #222;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.light {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  background: gray;
}

.red { background: red; }
.yellow { background: yellow; }
.green { background: green; }