* { 
    padding: 0;
    margin: 0;
    color: white;
}
#navbar {
    height: 80px;
    background-color: #0f1111;
    font-size: 40px;
    
}

button {
    background-color: #f08804;
}

#logo {
     color: #f08804  ;
    font-size: 40px;
}

a {
    margin-right: 200px;
    
}