 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4fdf7;
}

/* FLEX */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 25px;
    background-color: #1e7f43;
}

.logo {
    color: white;
    font-size: 28px;
}

.logo span {
    color: #ffdf00;
}

.header input {
    flex: 1;
    padding: 9px;
    border-radius: 6px;
    border: none;
}

.login-btn {
    padding: 9px 18px;
    border: none;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}

/* Banner */
.banner {
    text-align: center;
    padding: 50px;
    background: linear-gradient(#d9fbe5, #ffffff);
}

/* Sections */
.categories, .products {
    margin: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
}

/* GRID */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

/* Cards */
 .cat, .product-card {
    background-color: #fffcfc;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(3, 3, 3, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}


.cat img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
}

/* Hover Blink + Move */
 .cat:hover,
.product-card:hover {
    animation: blinkMove 0.6s linear;
    transform: translateY(-8px);
    box-shadow: 0 0 12px rgb(4, 170, 40),
                0 10px 25px rgba(255, 2, 2, 0.15);
}


@keyframes blinkMove {
    0% { opacity: 1; }
    25% { opacity: 0.3; }
    50% { opacity: 1; }
    75% { opacity: 0.3; }
    100% { opacity: 1; }
}

.price {
    font-weight: bold;
    margin: 8px 0;
}

/* Add to Cart Button Blink */
.add-btn {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #1e7f43;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn:hover {
    animation: btnBlink 0.5s linear;
}

@keyframes btnBlink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

footer {
    background-color: #1e7f43;
    color: white;
    text-align: center;
    padding: 16px;
}
